<div class= "container">
    <h1>Booking</h1>
    <%= simple_form_for [@book, @booking] do |f|%>
      <%= f.input :rent_date, as: :date %>
      <%= f.input :return_date, as: :date %>
      <%= f.submit "Book your Book", class: "btn btn-primary"%>
    <% end %>
</div>
