.more-details-text{
  color: gray;
  text-decoration: none;

  &:hover{
    color: black;
  }
}

.spanxt{
  font-size: 60px;
  color: rgb(246, 77, 77);
  animation: fadein 0.5s;
}

.h3-text-details{
  display: flex;
  width: 213px;
  height: 100px;
  justify-content: center;
  align-items: center;
}


.booking-text-container{
  padding-top: 30px;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}
