.description {

  .description-body{
    margin-top: 30px;
  }
  p {
    font-weight: 100;
    font-style: italic;
    color: #818181;
    padding-left: 30px;
  }
}

.card-sticky {
  position: fixed;
  top: 60%;
  z-index: 5;
}
