.description {

  .description-body{
    margin-top: 30px;
  }
  p {
    font-weight: 100;
    font-style: italic;
    color: #818181;
    padding-left: 30px;
  }
}

.card-sticky {
  position: fixed;
  right: 10em;
  top: 25em;
  width: 300px;
  z-index: 5;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.card-infow-window {

}
