.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;;
}

.avatar-nav{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 35px;
  width: 70px;
  object-fit: cover;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav-border{
  height: 35px;
  padding: 0px;
  margin: 0px 5px;
  transition: all 500ms;

  &:hover{
    font-size: 1.2rem;
    box-shadow: 0px 2px 0px 0px gray;
  }
}

.nav-border-icon{
  margin: 0px 5px;
}
