.more-details-text{
  color: gray;
  text-decoration: none;

  &:hover{
    color: black;
  }
}

.name-text{
  font-size: 60px;
  transition: linear 0.5s;

  &:hover{
    color: rgb(227, 35, 35);
  }
}
