.more-details-text{
  color: gray;
  text-decoration: none;

  &:hover{
    color: black;
  }
}

.name-text{
  font-size: 60px;
  transition: linear 0.5s;

  &:hover{
    color: rgb(227, 35, 35);
  }
}

.h3-text-details{
  display: flex;
  width: 213px;
  height: 100px;
  justify-content: center;
  align-items: center;
}
