.margin-top {
  margin-top: 70px;
}

.booking-card-size {
  width: 50%;
  height: 500px;
}

.booking-card {
  display: grid;
}

.form-card-booking  {
  width: 1000px;
  display: grid;
  align-items: flex-start;
}

.card-image {
  margin: 25px;
  padding: 16px;
}
